<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ads.datae.MyApplicaton"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeCycleAwareComponents"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.ads.datae.Hilt.HiltActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.dataAdapter.BindAdapterActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.LiveDataBind.LiveDataBindActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.LiveData.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.Queto.QutosActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.DiftUtil.DiftUtilActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.Dragger.DraggerMainActivity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.Dagger_Retrofit_Coroutines.Dagger_Retrofit_Coroutines_Activity"
            android:exported="false" />
        <activity
            android:name="com.ads.datae.Flow.FlowActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>